on: 
  push: 
    branches: main
permissions:
  contents: write
jobs:
  get_new_entries:
    name: Get new Entry
    runs-on: ubuntu-latest
    steps:
    - name: Update Glossary
      run: |
        gh repo clone imagineMaggots/sprichwoerter
        cd sprichwoerter
        cat "" > alle.txt

        iterate ()
        {
          for sprichwort in *; do
            if [[ -d $sprichwort ]]; then                         # falls es untergeordnete Ordner gibt
              cd $sprichwort
              iterate
            elif [[ $sprichwort == "*.txt" ]]; then              # alle txt-dateien werden als sprichwoerter behandelt
              cat "$sprichwort\n" >> alle.txt
            fi
            cd .. 
          done    
        }
        iterate
      env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/upload-artifact@v4
      with:
        name: my-artifact
        path: alle.txt
        compression-level: 9 # maximum compression
        
