on: 
  push: 
    branches: main
permissions:
  contents: write
jobs:
  get_new_entries:
    name: Get new Entry
    runs-on: ubuntu-latest
    steps:
    - name: Update Glossary
      run: |
        gh repo clone imagineMaggots/sprichwoerter
        cd sprichwoerter
        echo "\n" > alle.txt

        iterate ()
        {
          local layer=$1
          
          for sprichwort in *; do
            if [[ -d $sprichwort ]]; then                         # falls es untergeordnete Ordner gibt
              cd $sprichwort
              $layer+=1
              iterate $layer
            elif [[ $sprichwort == "*.txt" ]]; then              # alle txt-dateien werden als sprichwoerter behandelt
              alle=""
              x=$layer
              while [ $x -ge 0 ]; do
                alle="../$alle"
              done
              cat $sprichwort >> ${alle.txt}
            fi
          cd .. 
          done    
        }
        iterate 0
      env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/upload-artifact@v4
      with:
        name: my-artifact
        path: alle.txt
        compression-level: 9 # maximum compression
        
