on: 
  push: 
    branches: main
permissions:
  contents: write
jobs:
  get_new_entries:
    name: Get new Entry
    runs-on: ubuntu-latest
    steps:
    - name: Update Glossary
      run: |
        gh repo clone imagineMaggots/sprichwoerter
        cd "sprichwoerter"
        path="alle.md"
        i=0

        iterate ()
        {
          echo "starting"
          echo ""
          for sprichwort in *; do
            $i+=1
            echo "on: $sprichwort"
            if [[ -d $sprichwort ]]; then                         # falls es untergeordnete Ordner gibt
              cd $sprichwort
              echo "in: $cwd"
              tmp=$path
              path=${path//..*}
              echo "$path"
              echo ""
              
              iterate
              path=$tmp
              echo "going back..."
              echo ""
              cd ..
            elif [[ -f $sprichwort ]]; then                        # alle txt-dateien werden als sprichwoerter behandelt
              echo "contents of file $sprichwort:"
              cat $sprichwort
              echo ""

              echo "appending contents of $sprichwort to alle.txt:"
              echo "## Sprichwort Nummer $i" >> $path
              cat $sprichwort >> $path
              echo "success"
              echo ""
            fi
          done    
        }
        iterate


        echo "Finally:"
        cat $path

        echo "files=${printf '%s ' ".md"}" >> $GITHUB_OUTPUT
      env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/upload-artifact@v4
      with:
        name: my-artifact
        path: alle.txt
        compression-level: 9 # maximum compression
        
