on: 
  push: 
    branches: main
permissions:
  contents: write
jobs:
  get_new_entries:
    name: Get new Entry
    runs-on: ubuntu-latest
    steps:
    - name: Update Glossary
      run: |
        gh repo clone imagineMaggots/sprichwoerter
        cd "sprichwoerter"
        echo "\n" > alle.txt
        path="alle.txt"

        iterate ()
        {
          echo "starting\n"
          for sprichwort in *; do
            echo "on: $sprichwort"
            if [[ -d $sprichwort ]]; then                         # falls es untergeordnete Ordner gibt
              cd $sprichwort
              echo "in: $cwd"
              tmp=$path
              path=${path//..*}
              echo "$path \n"
              iterate
              path=$tmp
              echo "going back...\n"
              cd ..
            elif [[ -f $sprichwort ]]; then                        # alle txt-dateien werden als sprichwoerter behandelt
              echo "contents of file $sprichwort:"
              cat $sprichwort >> $path
              echo ""
              
              echo "contents of alle.txt"
              cat "$path"
              echo ""
            fi
          done    
        }
        iterate

        cat $path
      env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/upload-artifact@v4
      with:
        name: my-artifact
        path: alle.txt
        compression-level: 9 # maximum compression
        
